
*.pyc
/Charlie/learning/GAN/maps/train
/Charlie/learning/GAN/maps/val
Charlie/learning/GAN/maps/train.zip
Charlie/learning/GAN/maps/val.zip
Charlie/learning/GAN/maps/maps_256.npz
archive.zip
/archive
/testDataUnfiltered
